progress {
  height: 8px;
  border-radius: 5px;
  vertical-align: middle;
  padding-right: 10px;
}

  /*if Strawberry was a unicorn
  progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }*/

  progress[value]::-webkit-progress-value {
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(90deg, red 0%, yellow 15%, lime 30%, cyan 50%, blue 65%, magenta 80%, red 100%);
    background-size: 200%;
    animation: moveGradient 5s linear infinite;
  }
@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -200% 0%;
  }
}


