.body-background {
  background-image: url(https://ca.howrse.com/media/equideo/image/background/body/default/body-background-landing-prairie.jpg);
  top: 0;
  background-repeat: no-repeat;
  width: 100%;
  left: 0;
  z-index: -1;
  background-position: center top;
  position: absolute;
  height: 1000px;
}

.breadcrumb {
  border-bottom: 1px solid #F5F4C1;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  background: none;
}

  .breadcrumb .breadcrumb-item::before {
    content: "";
  }

.box-content {
  background-color: #e2e18b;
  border: 2px solid #e2da78;
  position: relative;
  z-index: 3;
  top: -3px;
  border-radius: 0 7px 7px 7px;
  box-shadow: #fbf7b9 1px 1px inset, #fbf7b9 -1px -1px inset;
  color: #003a0e;
  font-size: 1.1rem;
}

h1 {
  color: #710;
  font-size: 30px;
}

a {
  color: #000;
}

.table {
  border: none;
}

tbody {
  font-size: 13px;
}

th {
  font-weight: 400;
}

.btn-all {
  background-color: #E8EDc6;
  border: 1px solid #a9a9a9;
  border-radius: 0px;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  overflow: visible !important;
}
