.body-background {
  background-image: url(https://ca.howrse.com/media/equideo/image/background/body/default/body-background-landing-prairie.jpg);
  top: 0;
  background-repeat: no-repeat;
  width: 100%;
  left: 0;
  z-index: -1;
  background-position: center top;
  position: absolute;
  height: 1000px;
}

/*edit this css to 10px when inserting navbar*/
.howrse-logo {
  margin: 10px 10px 150px 10px;
}

.breadcrumb {
  font-size: 13px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  background: none;
  margin: auto;
}

.breadcrumb-row {
  border-bottom: 1px solid #ededa3;
}

.breadcrumb .breadcrumb-item::before {
  content: "";
}

.breadcrumb > .active {
  color: #710;
}

.box-content {
  background-color: #e4e18b;
  border: 2px solid #e2da78;
  position: relative;
  z-index: 3;
  top: -3px;
  border-radius: 7px 7px 7px 7px;
  box-shadow: #B0AE48 1px 1px inset, #B0AE48 -1px -1px inset;
  color: #586d23;
  font-size: 1.1rem;
}

h1 {
  margin-left: 3px;
  color: #710;
  font-size: 30px;
}

.nav-tabs > li > a {
  margin-right: .7rem;
  margin-left: .3rem;
  background-color: #e4e18b;
  border-radius: 7px 7px 0 0;
  padding: .4rem .6rem;
  border-bottom: 0;
  border: 1px solid #B0AE48;
  position: relative;
  box-shadow: #fbf7b9 1px 1px inset, #fbf7b9 -1px 0 inset;
  color: #586d23;
  font-weight: 700;
  font-size: 12px;
}

.nav-tabs > li.active > a {
  background-color: #e4e18b;
  border: 2px solid #e2da78;
  border-bottom: 0;
  z-index: 5;
}

  .nav-tabs > li.active > a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -1px;
    background-color: #f6f3b0;
  }

.nav-tabs {
  border: 0;
}

a {
  color: #000;
}

.table {
  border: none;
}

tbody {
  font-size: 13px;
}

.table > tbody > tr > td {
  border-top: 1px solid #B0AE48;
  border-bottom: 1px solid #B0AE48;
}

/*TO DO: figure out how to remove border from child table cell create new
  .table > tbody > tr > td {
  border-bottom: 0;
}*/

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #B0AE48;
}

th {
  font-weight: 400;
  font-size: 13px;
}

.btn-all {
  background-color: #E8EDc6;
  border: 1px solid #a9a9a9;
  border-radius: 0px;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  overflow: visible !important;
  width: 80%;
  height: 10%;
}

.dropdown-menu {
  background-color: #E8EDc6;
  font-size: 12px;
}

.dropdown-toggle::after {
  position: absolute;
  right: 55%;
  top: 10%;
}

.create-new {
  font-weight: 700;
  font-size: 12px;
  color: #586d23;
}
