<div class="container">
    <div class="item item-1">1</div>
    <div class="item item-2">
        <img src="/assets/images/horse.png">
    </div>
    <div class="item item-3">3</div>
</div>

<div class="container flex-start">
    <div class="item item-1">1</div>
    <div class="item item-2">2</div>
</div>

<div class="container flex-start">
    <div class="item item-1">1</div>
    <div class="item item-2">2</div>
</div>

<!--<img src="/assets/images/horse.png">
<div class="description text-center">
    <h4 class="text-nowrap">Gaia</h4>
    <strong class="text-nowrap">French Trotter</strong>-->

<!--using a grid for layout
<<!--div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
</div>-->