


    <div class="container">
        <h2 class="text-center">Choose a Horse...</h2>
        <div class="row d-flex">
            <div class="col-sm-4">
                <div class="circle-left"></div>
                <ul class="list-unstyled text-right">
                    <li *ngFor="let breed of all">
                        <label>{{breed.breed}}<input type="radio" name="breed" checked></label>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 flex-column">
                <img src="https://ca.howrse.com/media/equideo/image/chevaux/adulte/trotteur/normal/300/alz.png" class="transparent horse-img">
                <div class="skill-set text-center">
                    <h4 class="text-nowrap">Best Skill:</h4>
                    <strong class="text-nowrap">Trot</strong>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="circle-right"></div>
                <ul class="list-unstyled">
                    <li *ngFor="let color of entire">
                        <label><input type="radio" name="color" checked>{{color.color}}</label>
                    </li>                 
                </ul>
            </div>
        </div>
        <h2 class="text-center">...and create your account.</h2>

        <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="row">
                <div class="col-sm-6 col-centered">
                    <div class="form-group">
                        <label class="sr-only" for="login">Login</label>
                        <input  #login="ngModel" name="login"  type="text" class="form-control" id="login"  placeholder="Enter Login name" ngModel required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-centered">
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input #password="ngModel" name="password"  type="password" class="form-control" id="password" placeholder="Password" ngModel>
                    </div>
                </div>
            </div>

            <div class="row d-flex">
                <div class="form-group col-sm-2">
                    <select #day="ngModel" name="day"   class="form-control" id="birthDay" ngModel >
                        <option>Day</option>
                        <option>2</option>
                        <option>16</option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <select #month="ngModel" name="month"  class="form-control" id="birthMonth" ngModel >
                        <option>Month</option>
                        <option>September</option>
                        <option>June</option>
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <select #year="ngModel" name="year"   class="form-control" id="birthYear" ngModel >
                        <option>Year</option>
                        <option>1990</option>
                        <option>2000</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-centered">
                    <div class="form-group">
                        <input   type="email" class="form-control" id="email" placeholder="Enter email" name="email" required ngModel #email="ngModel">
                        <span  [hidden]="email.pristine || email.valid ">Please enter a correct email address</span>
                    </div>
                </div>
            </div>

            <div class="inscription">
                <div class="form-check text-center">
                    <input #checkbox="ngModel" name="checkbox"    type="checkbox" class="form-check-input" id="terms" ngModel >
                    <label class="form-check-label" for="terms">I have read agree with the Terms and Conditions</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-centered">
                    <button type="submit" class="btn btn-play btn-lg btn-block" id="input" >Play</button>
                </div>
            </div>
        </form>

        <div class="body-background"></div>
    </div>






































<!--GREG's CODE-->
<!--
 <div class="container">

<div class="row ">
    <nav>
        <div>
            <a> <img id="howrselabel" src="./assets/images/howrse.png" /></a>
            <span id="caflag"><img src="./assets/images/caflag.png" /></span>
        </div>
    </nav>
</div>

<div class="row-col-12">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div>
            <h2 class="text-left"> Choose a horse.. </h2>
        </div>

        <div>
            <h3 class="text-left"> Breeds </h3>
            <h3 class="text-right"> Coats </h3>
        </div>

        <div class="d-flex justify-content-between">
            <div class="d-flex align-self-start">
                <ul>
                    <li>French Trotter</li>
                    <li>Shetland(pony)</li>
                    <li>Quarter Horse</li>
                    <li>Holsteiner</li>
                    <li>Gypsy Vanner</li>
                    <li>Curly</li>
                    <li>Argentinean Criollo</li>
                    <li>KWPN</li>
                    <li>Canadian horse</li>
                    <li>NewFoundland(Pony)</li>
                    <li>29 other breeds to discover</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li> <img src="./assets/images/horse.png" /></li>
                </ul>

            </div>
            <div class="d-flex align-self-end">
                <ul>
                    <li>Chestnut</li>
                    <li>Bay</li>
                    <li>Liver chestnut</li>
                    <li>Dark Bay</li>
                    <li>Cherry bay</li>
                    <li>Black</li>
                    <li>flaxen Chestnut</li>
                    <li>1 other coat to discover</li>
                </ul>
            </div>
        </div>
        <h3>Best skill Trot</h3>
    </div>
</div>


<div class="row-col-12">
    <form>
        <h3 class="text-center">..and create  your account</h3>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Login name" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="password" />
        </div>
        <div class="form-inline form-group justify-content-center">
            <select>
                <option> day </option>
            </select>
            <select>
                <option> month </option>
            </select>
            <select>
                <option> year </option>
            </select>
        </div>
        <div>
            <input type="Email" class="form-control" placeholder="Email" />
        </div>
        <label> Enter the login name of the person who introduced you to Howrse here.</label>
        <div>
            <input type="text" class="form-control" placeholder="Referred by (optional)" />
        </div>
        <div class="form-group">
            <p>.................................................................................................................................................................................................................................</p>
            <input type="checkbox" /> <label>
                I have read and agree to the <a>Terms and Conditions of Use,</a>
                the <a>End User License Agreement</a> and <a>the Privacy Policy</a>
            </label>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-sm">Play</button> <br />
            <label>
                This information is collected by Owlient to create your account.
                <a>More information about the processing of your personal data and your rights.</a>
            </label>
        </div>
    </form>
</div>

<div class="row-col-12">
    <footer>
        <div>
            <a>Owlient</a>
            <a>social media icons</a>
            <a>social media icons</a>
            <a>social media icons</a>
            <a>social media icons</a>
            <a>ubisoft</a>
        </div>
        <div>
            <a>Terms of Use</a>
            <a>Privacy policy</a>
            <a>Sales Terms</a>
            <a>End User License Agreement</a>
            <a>Notice to parents</a>
            <a>Legal details</a>
            <a>Contact us</a>
        </div>
    </footer>
</div>
</div>
-->
