<div class="ng-container">
    <div class="header">
    <!-- logo image -->
  <img src="/assets/images/howrse.png">
  <div>
    <h2>Choose a horse...</h2>
    <!-- <div style="display: flex; justify-content: center;">
    <img src="/assets/images/horse-alz-b.png"> -->
  </div>
  <div class="d-flex row">
    <!-- list of breeds  -->
    <div class="col-sm-3">
      <ul class="breed-list align-right">
        <h3>Breeds</h3>
        <li>French Trotter <i class="fas fa-circle"></i></li>
        <li>Shetland (Pony) <i class="fas fa-circle"></i></li>
        <li>Quarter Horse <i class="fas fa-circle"></i></li>
        <li>Holsteiner <i class="fas fa-circle"></i></li>
        <li>Gypsy Vanner <i class="fas fa-circle"></i></li>
        <li>Curly <i class="fas fa-circle"></i></li>
        <li>Argentinean Criollo <i class="fas fa-circle"></i></li>
        <li>KWPN <i class="fas fa-circle"></i></li>
        <li>Canadian horse <i class="fas fa-circle"></i></li>
        <li>Newfoundland Pony (Pony) <i class="fas fa-circle"></i></li>
        <li>29 other breeds to discover <i class="fas fa-lock"></i></li>
      </ul>
    </div>
    <div class="col-sm-3">
        <img src="/assets/images/horse-alz-b.png">
    </div>
    <!-- list of coats  -->
    <div class="col-sm-3">
      <ul class="coat-list align-left">
        <h3>Coats</h3>
        <li><i class="fas fa-circle"></i> Chestnut</li>
        <li><i class="fas fa-circle"></i> Bay</li>
        <li><i class="fas fa-circle"></i> Liver chestnut</li>
        <li><i class="fas fa-circle"></i> Dark Bay</li>
        <li><i class="fas fa-circle"></i> Cherry Bay</li>
        <li><i class="fas fa-circle"></i> Black</li>
        <li><i class="fas fa-circle"></i> Flaxen Chestnut</li>
        <li><i class="fas fa-lock"></i> 1 other coat to discover</li>
      </ul>
    </div>
  </div>
  </div>
  