<div class="ng-container">
  <div class="header">
    <!-- logo image -->
    <img src="/assets/images/howrse.png">
    <div>
      <h2>Choose a horse...</h2>
      <!-- <div style="display: flex; justify-content: center;">
    <img src="/assets/images/horse-alz-b.png"> -->
    </div>
    <h3>Breeds</h3>
    <div class="d-flex row">
      <!-- list of breeds  -->
      <div class="col-sm-4">
        <div class="circle-left">
          <ul class="list-unstyled text-right">
            <label> French Trotter <input type="radio" name="breed" value="FrenchTrotter" checked></label>
            <label> Shetland <input type="radio" name="breed" value="Shetland" checked></label>
            <label> Quarter Horse <input type="radio" name="breed" value="QuarterHorse" checked></label>
            <label> Holsteiner <input type="radio" name="breed" value="Holsteiner" checked></label>
            <label> Gypsy Vanner <input type="radio" name="breed" value="GypsyVanner" checked></label>
            <label> Curly <input type="radio" name="breed" value="Curly" checked></label>
            <label> Argentinean Criollo <input type="radio" name="breed" value="ArgentineanCriollo" checked></label>
            <label> KWPN <input type="radio" name="breed" value="KWPN" checked></label>
            <label> Canadian Horse <input type="radio" name="breed" value="CanadianHorse" checked></label>
            <label> Newfoundland Pony <input type="radio" name="breed" value="NewfoundlandPony" checked></label>
            <label> 29 other breeds to discover <input type="radio" name="breed" value="Other" checked></label>
            <!-- <li><i class="fas fa-lock"></i> 29 other breeds to discover</li> -->
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="/assets/images/horse-alz-b.png">
      </div>
      <!-- list of coats  -->
      <div class="col-sm-4">
        <div class="circle-right">
          <ul class="list-unstyled text-left">
            <h3>Coats</h3>
            <input type="radio" name="coat" value="Chestnut"> Chestnut<br>
            <input type="radio" name="coat" value="Bay"> Bay<br>
            <input type="radio" name="coat" value="LiverChestnut"> Liver Chestnut<br>
            <input type="radio" name="coat" value="DarkBay"> Dark Bay<br>
            <input type="radio" name="coat" value="CherryBay"> Cherry Bay<br>
            <input type="radio" name="coat" value="Black"> Black<br>
            <input type="radio" name="coat" value="FlaxenChestnut"> Flaxen Chestnut<br>
            <input type="radio" name="coat" value="Other"> 1 other coat to discover<br>
          </ul>
        </div>
      </div>
    </div>