<div class="container-box">
  <div class="page1 box-content1">
    <div class="header">
      <span><strong> Skills</strong></span>
      <span class="head1">
        <strong>Total: {{totalSkills}}</strong>
      </span>
    </div>

    <div>
      <div class="star-ratings-sprite"><span [ngStyle]="{'width.%': stamina}" class="star-ratings-sprite-rating"></span></div>
      <span class="head" max="100"><strong>Stamina: {{stamina}}</strong></span>
    </div>
    <hr>
    <div>
      <div class="star-ratings-sprite"><span [ngStyle]="{'width.%': speed}" class="star-ratings-sprite-rating"></span></div>
      <span class="head" max="100"><strong>Speed: {{speed}}</strong></span>
    </div>
    <hr>
    <div>
      <div class="star-ratings-sprite"><span [ngStyle]="{'width.%': trot}" class="star-ratings-sprite-rating"></span></div>
      <span class="head" max="100"><strong>Trot: {{trot}}</strong></span>
    </div>
    <hr>
    <div>
      <div class="star-ratings-sprite"><span [ngStyle]="{'width.%': gallop}" class="star-ratings-sprite-rating"></span></div>
      <span class="head" max="100"><strong>Gallop: {{gallop}}</strong></span>
    </div>
    <hr>
    <div>
      <div class="star-ratings-sprite"><span [ngStyle]="{'width.%': dressage}" class="star-ratings-sprite-rating"></span></div>
      <span class="head" max="100"><strong>Dressage: {{dressage}}</strong></span>
    </div>
    <hr>
    <div>
      <div class="star-ratings-sprite"><span [ngStyle]="{'width.%': jumping}" class="star-ratings-sprite-rating"></span></div>
      <span class="head" max="100"><strong>Jumping: {{jumping}}</strong></span>
    </div>
    <hr>

    <!--<div class="star-ratings-sprite" >

    <span><strong> Speed </strong></span><span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="head" max="100">
      <strong>
        {{speed}}
      </strong>
    </span>
  </div>

  <hr>

  <div>
    <span> Dressage </span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="head" max="100">
      <strong>
        {{dressage}}
      </strong>
    </span>
  </div>
  <hr>
  <div>
    <span> Gallop </span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="head"><strong>{{gallop}}</strong></span>
  </div>
  <hr>
  <div>
    <span> Trot </span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="head">
      <strong>{{trot}}</strong>
    </span>
  </div>
  <hr>
  <div>
    <span> Jumping </span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="head"><strong>{{jumping}}</strong></span>
  </div>-->
  </div>
</div>
